* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 99vh;
  width: 99vw;
  background-image: url("/images/welcome.jpg");
}
.heading {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  border-radius: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: whitesmoke;
  padding-inline: 2rem;
}
#A-Logo {
  color: orangered;
  font-size: 4rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  width: 100vw;
  padding-top: 3rem;
}
.searchbox {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  justify-content: space-around;
  margin-top: 20rem;
  padding: 1rem;
  height: 7rem;
  width: 70rem;
  border-radius: 4rem;
  box-shadow: ;
}
.input-mainbox {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
.inputbox {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
  height: 4rem;
  width: 14rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem rgb(125, 121, 121);
}
.fa-magnifying-glass {
  font-size: 3rem;
}
.date-box {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  gap: 4rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.from-date {
  display: flex;
  flex-direction: column;
}
.to-date {
  display: flex;
  flex-direction: column;
}
.search-btn {
  height: 4rem;
  width: 6rem;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 2rem;
  box-shadow: 0px 0px 1rem rgb(125, 121, 121);
  background-color: lightgoldenrodyellow;
}
.search-btn button {
  display: flex;
  flex-direction: row;
}
.menu a:hover {
  color: blue;
}
.menu ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  list-style: none;
}
.menu a {
  color: black;
  text-decoration: none;
  font-size: 3rem;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 10rem;
}
.button button {
  font-size: xx-large;
  border-radius: 5rem;
  border-style: none;
  width: 10rem;
  height: 4rem;
  box-shadow: 0px 0px 2rem rgb(125, 121, 121);
}
.cardevents {
  margin: 1rem;
  border: 5px solid black;
  width: 97vw;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  align-items: center;
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.maincardcontainer {
  width: 99vw;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
}
.cardcontainer {
  box-shadow: 0px 0px 2rem rgb(145, 141, 141);
  display: flex;
  flex-direction: column;
  border-color: rgb(243, 237, 237);
  border-style: solid;
  border-width: 2px;
  width: 25rem;
  padding-top: 0rem;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
  padding-bottom: 1rem;
}
.imagebox {
  height: 40%;
  width: 100%;
}
.imagebox img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.imgheading {
  text-align: center;
  background-color: lightblue;
  border-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 2rem;
}
.paragraph {
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  margin: 0.5rem;
}
.price {
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.cardbutton {
  text-align: center;
}
.cardbutton button {
  font-size: 1.5rem;
  background-color: lightgoldenrodyellow;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1rem rgb(153, 151, 151);
}
#destiheading {
  display: flex;
  flex-direction: column;
  background-color: lightpink;
  font-size: 5rem;
  margin: 1rem;
  border: 5px solid black;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.desti-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}
.destination-card {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  box-shadow: 0px 0px 20px rgb(69, 68, 68);
}
.desti-imgbox {
  height: 30rem;
  width: 30rem;
}
.desti-imgbox img {
  height: 100%;
  width: 100%;
}
.desti-card-tot {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.desti-name {
  display: flex;
  flex-direction: row;
  font-size: 5rem;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.desti-para {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  width: 35rem;
  text-align: center;
  font-family: sans-serif;
}
.desti-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.desti-button button {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  background-color: lightgoldenrodyellow;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1rem rgb(153, 151, 151);
}
