* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url("/images/welcome.jpg");
}
.heading {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: whitesmoke;
  padding-inline: 2rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  padding-top: 3rem;
}
.menu {
  font-size: xx-large;
}
.menu a:hover {
  color: red;
}
.menu ul {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  list-style: none;
}
.menu a {
  color: black;
  text-decoration: none;
  font-size: 3rem;
}
.button {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-left: 10rem;
}
.button button {
  font-size: xx-large;
  border-radius: 4rem;
  border-style: none;
  width: 9rem;
  height: 4rem;
  box-shadow: 0px 0px 20px rgb(162, 162, 162);
}
